@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.beach-icon {
  width: 40px;
  height: 40px;
}

.lakehouse-icon {
  width: 32px;
  height: 32px;
}

.mountain-icon {
  width: 40px;
  height: 40px;
  margin-bottom: -6px;
}

.mountain-house {
}

.camping-icon {
  width: 36px;
  height: 36px;
}

.listing-img1 {
  height: 600px;
  border-top-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
  display: block;
}

.listing-img2 {
  height: 300px;
}

.listing-img3 {
  height: 300px;
  border-top-right-radius: 10px;
}

.listing-img4 {
  height: 291.6px;
}

.listing-img5 {
  height: 291.6px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 639px) {
  .listing-img1 {
    height: 300px;
    border-top-left-radius: 0; /* Adjust the value as needed */
    border-bottom-left-radius: 0; /* Adjust the value as needed */
  }

  .listing-img2 {
    height: 300px;
  }

  .listing-img3 {
    height: 300px;
    border-top-right-radius: 10px;
  }

  .listing-img4 {
    height: 291.6px;
  }

  .listing-img5 {
    height: 291.6px;
    border-bottom-right-radius: 10px;
  }
}

.marginr {
  margin: 20px;
}

.sm-text {
  font-size: 15px;
}

.margin-bt {
  margin-bottom: -4px;
}

.m-left {
  margin-left: 318px;
}

.margin-icons1 {
  margin-right: 274px;
}
.margin-icons2 {
  margin-right: 272px;
}
.margin-icons3 {
  margin-right: 160px;
}
.margin-icons4 {
  margin-right: 134px;
}
.m-left5 {
  margin-left: 318px;
}

.m-b1 {
  margin-bottom: 24px;
}

.m-b2 {
  margin-bottom: 26px;
}
.m-b3 {
  margin-bottom: 22px;
}
.m-b4 {
  margin-bottom: 28px;
}
.m-b5 {
  margin-bottom: 27px;
}
.m-b6 {
  margin-bottom: 24px;
}

.reserve-container {
  width: 380px;
  height: 530px;
  padding: 26px;
}

.central-margin {
  margin-left: 17.5px;
}

.parking-margin {
  margin-left: -8px;
}

.tv-margin {
  margin-left: -8px;
}

.dryer-margin {
  margin-left: -7px;
}

.parking2-margin {
  margin-left: 22px;
}

.lake-margin {
  margin-left: 15px;
}

.kitchen-margin {
  margin-left: 19px;
}
